<!-- views/view.handlebars -->
{{#if poll}}
  <h1>{{poll.title}}</h1>
  <h2>Set Question</h2>
  <form id="newQuestion">
    <div class="form-group">
      <input class="hidden" name="poll_id" value={{poll._id}}>
      <input type="text" name="title" class="form-control" placeholder="Write your question">
      <div class="radio">
        <label>
          <input type="radio" name="type" id="singleChoice" checked>
          Single choice 
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="type" id="multipleChoice" disabled>
          Multiple choice
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="type" id="range" disabled>
          Range selection
        </label>
      </div>
      <input type="submit" value="Save" class="form-control">
    </div>
  </form>
  
  <div><span id="resp"></span></div>

  <div class="hidden" id="section-answers">
    <h2>Set the possible answers</h2>
    <form id="answers">
      <div class="form-group">
        <input class="hidden" name="poll_id" value={{poll._id}}>
        <input class="hidden" name="text" value="asdasdad">
        <button id="add_option" class="btn">Add Option</button>
        <div class="form-group">
          <input type="text" class="form-control ans" placeholder="Option" name="1">
        </div>
        <span id="added"></span>
        <button type="submit" class="btn btn-default">Submit</button>
      </div> 
    </form>
  </div>

{{else}}
    <p>Nothing to see here</p>
{{/if}}

<script type="text/javascript">
 $(document).ready(function() {

    $("#newQuestion").on('submit',function(e)
    {
      e.stopPropagation();
      e.preventDefault();

      $.ajax({
            url: '/newQuestion',
            type: 'POST',
            data: $("#newQuestion").serialize(),
            error: function(jqXHR, textStatus, errorThrown) {
              alert('Error: ' + textStatus);
            },
            success: function(data) {
              $("#added").append('<input class="hidden" name="q_id" value="'+data+'">');
              $("#section-answers").removeClass("hidden");
            }
      });
    });

    // To add dynamically new options when asked by user
    var max_fields = 15; //maximum input boxes allowed
    
    var x = 1;
    $("#add_option").click(function(e){
        e.preventDefault();
        if(x < max_fields){
            x++;
            $("#added").append('<div class="form-group"><input type="text" class="form-control ans" placeholder="Option" name="'+(x).toString()+'"><a href="#" class="remove_field">Remove</a></div>');
        }
    });
    
    $("#answers").on("click", ".remove_field", function(e){
        e.preventDefault(); 
        $(this).parent('div').remove(); 
        x--;
    })


    $("#answers").on('submit',function(e)
    {
      var answers = [];
      $.each($('.ans'), function() {
        answers.push($(this).val());
      });

      if(answers.length == 0) {
        answers = "none";
      }
      e.stopPropagation();
      e.preventDefault();

      $.ajax({
            url: '/newAnswer',
            type: 'POST',
            data: $("#answers").serialize(),
            error: function(jqXHR, textStatus, errorThrown) {
              alert('Error: ' + textStatus);
            },
            success: function(data) {
              
            }
      });
    });


});
</script>