<!-- views/edit.handlebars -->
{{#if poll}}
    <h1>{{poll.title}}</h1>
      
{{#poll.question}}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
          <div class="col-md-10">
            {{title}}
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-default save_btn" inline><i class="fa fa-save"></i></button>
            <button type="button" class="btn btn-default del-question" inline><i class="fa fa-remove "></i></button>
          </div>
        </div>
    </div>

    <div class="panel-body">

      <div class="row">
        <div class="col-md-1">
          <div class="form-group">
            <label class="control-label">Answer</label>
          </div>
        </div>
        <div class="col-md-11">
        {{#answer}}
          <div class="input-group">
            <input type="text" class="form-control ans" value='{{this}}'>
            <div class="input-group-btn"><button class="btn btn-default remove_field" type="button"><i class="fa fa-times"></i></button></div>
          </div>
        {{/answer}}
          <span class="added"></span>
          <button class="btn btn-default add_option form-control" type="button"><i class="fa fa-plus"></i> Add Option</button>
        </div>
      </div>

    </div>

</div>
{{/poll.question}}

  
{{else}}
    <p>Nothing to see here</p>
{{/if}}


<script type="text/javascript">
$(document).ready(function() {
  // To add dynamically new options when asked by user
  $(document).on('click',".add_option", function (e){
    e.preventDefault();
    var html = '<div class="input-group"><input type="text" class="form-control ans" placeholder="Option">';
    html += '<div class="input-group-btn"><button class="btn btn-default remove_field" type="button"><i class="fa fa-times"></i></button></div></div>';
    $(this).parent().parent('div').find('span').append(html);
  });

  $(document).on('click','.remove_field',function (e){
    e.preventDefault(); 
    $(this).parent().parent('div').remove(); 
  });



 $(document).on('click','.save_btn',function (e){

    console.log(e);
    console.log($(this));
    var answers = [];
    $.each($('.ans'), function() {
      answers.push($(this).val().toString());
    });

    if(answers.length == 0) {
      answers = "none";
    }
    e.stopPropagation();
    e.preventDefault();

    console.log(answers);
    /*
    $.ajax({
      url: '/newQuestion',
      type: 'POST',
      dataType: 'json',
      data: form,
      error: function(jqXHR, textStatus, errorThrown){
        alert('Error: ' + textStatus);
      },
      success: function(data){
        $("#decission-section").removeClass("hidden");
        $("#answers-section").addClass("hidden");
      }
    });
    */
  });
});
</script>
