<!-- views/home.handlebars -->
<div class="jumbotron text-center">
  <h1 >Create polls faster</h1>
  <h3 >Get a poll ready in just seconds!</h3>
  <img class="center-block img-responsive" src="http://www.123contactform.com/images3/new/free-online-poll-maker.png">
  <p>Register for free and learn how to</p>
  <a class="btn btn-primary btn-lg img-center" href="/signin" role="button">Sign Up</a>
</div>
