<!-- views/users.handlebars -->
{{#if userProfile}}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile Information</h3>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <a href="#" class="thumbnail"><img src="{{userProfile.avatar}}" class="img-responsive"></a>
        </div>
        <div class="col-md-9">
          <h1>{{userProfile.username}}</h1>
          <p>E-Mail: {{userProfile.email}}</p>
          <p>Member since: {{userProfile.created}}</p>
        </div>
      </div>
    </div>
  </div>


</div>
{{/if}}

