<!-- views/view.handlebars -->
{{#if poll}}
    <h1>{{poll.title}}</h1>
	
	<ol>	
	{{#poll.question}}
      <li><p>{{title}}</p></li>
      <ul>
      {{#answer}}
      	<li><p>{{this}}</p></li>
      {{/answer}}
      </ul>
    {{/poll.question}}
	</ol>
{{else}}
    <p>Nothing to see here</p>
{{/if}}

<!--
{"title":"teeest","question":[{"title":"q1","answer":["ans1","ans2"]},{"title":"q2","answer":["ans3","ans4"]}]}

-->