h1,h2,h3,p {
  color: black;
}

body {
  background-color: white;
}

.poll-title {
	width: 80%;
}

.poll-btn {
	display: inline;
}

.panel-heading {
	vertical-align: middle;
}

.results {
	padding: 20px;
}

#logo {
	font-family: 'Indie Flower', cursive;
	font-size: 200%;
	color: #1985A1;
}

h1 {
	font-family: 'Indie Flower', cursive;
	font-size: 250%;
	color: #4C5C68;
}

h2,h3,p,a,button,input,label {
	font-family: 'Open Sans Condensed', sans-serif;
}

p,label,input,a,button {
	font-size: 150%;
}